In [0]:
# Create a dataframe from a static list
# syntax: spark.createDataFrame(data = <list> , schema = <shemalist>)
staticlist = [(" raja", "pushpa", "USA","",30000),
            (" priya", "pushpa", "USA","",29900),
            (" Karthik", "Subu", "USA","CA",6000),
            (" James", "Smith", "USA","FL",20000),
            ("Martin", "Jones", "USA","CA",3000),
            ("Sam", "Anderson", "UK","LND",8000),
            ("Maria", "Patrick", "UK","MCR",7000),
            ("Robet", "Bevon", "UK","LND",3500),
            ("Maria", "Anderson", "UK","MCR",3000)
            ]
columns = ["firstname","lastname","country","state","sal"]            
df = spark.createDataFrame( data = staticlist, schema = columns)
df.show()

+---------+--------+-------+-----+-----+
|firstname|lastname|country|state|  sal|
+---------+--------+-------+-----+-----+
|     raja|  pushpa|    USA|     |30000|
|    priya|  pushpa|    USA|     |29900|
|  Karthik|    Subu|    USA|   CA| 6000|
|    James|   Smith|    USA|   FL|20000|
|   Martin|   Jones|    USA|   CA| 3000|
|      Sam|Anderson|     UK|  LND| 8000|
|    Maria| Patrick|     UK|  MCR| 7000|
|    Robet|   Bevon|     UK|  LND| 3500|
|    Maria|Anderson|     UK|  MCR| 3000|
+---------+--------+-------+-----+-----+

In [0]:
#Check the datatype of any variable
type(df)

Out[3]: pyspark.sql.dataframe.DataFrame

In [0]:
#check the schema of the dataframe
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- country: string (nullable = true)
 |-- state: string (nullable = true)
 |-- sal: long (nullable = true)

In [0]:
# crea a new schema for a datafram using the structureType and structField
# https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/data_types.html

from pyspark.sql.types import *

StructSchema = StructType([
                            StructField('FirstName',StringType(),False),
                            StructField('LastName',StringType(),True),
                            StructField('Country',StringType(),False),
                            StructField('State',StringType(),False),
                            StructField('Salary',StringType(),False),
])

In [0]:
# creat the datafram using the new struct schem

df = spark.createDataFrame(data = staticlist, schema = StructSchema)
df.show()
df.printSchema()

+---------+--------+-------+-----+------+
|FirstName|LastName|Country|State|Salary|
+---------+--------+-------+-----+------+
|     raja|  pushpa|    USA|     | 30000|
|    priya|  pushpa|    USA|     | 29900|
|  Karthik|    Subu|    USA|   CA|  6000|
|    James|   Smith|    USA|   FL| 20000|
|   Martin|   Jones|    USA|   CA|  3000|
|      Sam|Anderson|     UK|  LND|  8000|
|    Maria| Patrick|     UK|  MCR|  7000|
|    Robet|   Bevon|     UK|  LND|  3500|
|    Maria|Anderson|     UK|  MCR|  3000|
+---------+--------+-------+-----+------+

root
 |-- FirstName: string (nullable = false)
 |-- LastName: string (nullable = true)
 |-- Country: string (nullable = false)
 |-- State: string (nullable = false)
 |-- Salary: string (nullable = false)

In [0]:
# most used pyspark libaries

from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql.window import *
from delta.tables import *

In [0]:
# select specific columns from dataframe using the "column name" SELECTION
# Using name in inverted columns is not case sensitive
df1 = df.select("FirstName","LASTNAME")
df1.show()

+---------+--------+
|firstname|LASTNAME|
+---------+--------+
|     raja|  pushpa|
|    priya|  pushpa|
|  Karthik|    Subu|
|    James|   Smith|
|   Martin|   Jones|
|      Sam|Anderson|
|    Maria| Patrick|
|    Robet|   Bevon|
|    Maria|Anderson|
+---------+--------+

In [0]:
#option2 using the datafram method
#using this method the column names should be case sensitive
df1 = df.select(df.FirstName, df.LastName)
df1.show()

+---------+--------+
|FirstName|LastName|
+---------+--------+
|     raja|  pushpa|
|    priya|  pushpa|
|  Karthik|    Subu|
|    James|   Smith|
|   Martin|   Jones|
|      Sam|Anderson|
|    Maria| Patrick|
|    Robet|   Bevon|
|    Maria|Anderson|
+---------+--------+

In [0]:
#option3 using the datafram method 2
#using this method the column names are not case sensitive
df1 = df.select(df["FIRSTNAME"],df["LASTNAME"])
df1.show()

+---------+--------+
|FIRSTNAME|LASTNAME|
+---------+--------+
|     raja|  pushpa|
|    priya|  pushpa|
|  Karthik|    Subu|
|    James|   Smith|
|   Martin|   Jones|
|      Sam|Anderson|
|    Maria| Patrick|
|    Robet|   Bevon|
|    Maria|Anderson|
+---------+--------+

In [0]:
df1 = df.select(df["FIRSTNAME"],df["LASTNAME"])
df1.show()

+---------+--------+
|FIRSTNAME|LASTNAME|
+---------+--------+
|     raja|  pushpa|
|    priya|  pushpa|
|  Karthik|    Subu|
|    James|   Smith|
|   Martin|   Jones|
|      Sam|Anderson|
|    Maria| Patrick|
|    Robet|   Bevon|
|    Maria|Anderson|
+---------+--------+

In [0]:
# select the columns ased on column method
# column name is not case sensitive in col method

from pyspark.sql.functions import *
df2 = df.select(col("firstname"),col("LASTNAME"))
df2.show()

+---------+--------+
|firstname|LASTNAME|
+---------+--------+
|     raja|  pushpa|
|    priya|  pushpa|
|  Karthik|    Subu|
|    James|   Smith|
|   Martin|   Jones|
|      Sam|Anderson|
|    Maria| Patrick|
|    Robet|   Bevon|
|    Maria|Anderson|
+---------+--------+

In [0]:
df1 = df.select(df.firstname, df.lastname)
df1.show()

In [0]:
# select the column names based on wildcard name
df1 = df.select(df.colRegex("`.*name*`"))
df1.show()

+---------+--------+
|FirstName|LastName|
+---------+--------+
|     raja|  pushpa|
|    priya|  pushpa|
|  Karthik|    Subu|
|    James|   Smith|
|   Martin|   Jones|
|      Sam|Anderson|
|    Maria| Patrick|
|    Robet|   Bevon|
|    Maria|Anderson|
+---------+--------+

In [0]:
df1.printSchema()

root
 |-- FirstName: string (nullable = false)
 |-- LastName: string (nullable = true)

In [0]:
df_cast1 = df.select("firstname","lastname","Country","State",
                     df.Salary.cast(IntegerType()))
df_cast1.printSchema()

root
 |-- firstname: string (nullable = false)
 |-- lastname: string (nullable = true)
 |-- Country: string (nullable = false)
 |-- State: string (nullable = false)
 |-- Salary: integer (nullable = true)

In [0]:
#option2: using the whildColumn method

df_cast2 = df.withColumn("Salary",df.Salary.cast(IntegerType()))
df_cast2.printSchema()

root
 |-- FirstName: string (nullable = false)
 |-- LastName: string (nullable = true)
 |-- Country: string (nullable = false)
 |-- State: string (nullable = false)
 |-- Salary: integer (nullable = true)

In [0]:
df_cast2 = df.withColumn("Country",df.Country.cast(IntegerType()))
df_cast2.show()

+---------+--------+-------+-----+------+
|FirstName|LastName|Country|State|Salary|
+---------+--------+-------+-----+------+
|     raja|  pushpa|   null|     | 30000|
|    priya|  pushpa|   null|     | 29900|
|  Karthik|    Subu|   null|   CA|  6000|
|    James|   Smith|   null|   FL| 20000|
|   Martin|   Jones|   null|   CA|  3000|
|      Sam|Anderson|   null|  LND|  8000|
|    Maria| Patrick|   null|  MCR|  7000|
|    Robet|   Bevon|   null|  LND|  3500|
|    Maria|Anderson|   null|  MCR|  3000|
+---------+--------+-------+-----+------+

In [0]:
#Adding a new calculated columns using the withColumn method
# add a new salary column with double the current salary
df1 = df.withColumn("Salary_Increment",df.Salary*2)
df1.show()

+---------+--------+-------+-----+------+----------------+
|FirstName|LastName|Country|State|Salary|Salary_Increment|
+---------+--------+-------+-----+------+----------------+
|     raja|  pushpa|    USA|     | 30000|         60000.0|
|    priya|  pushpa|    USA|     | 29900|         59800.0|
|  Karthik|    Subu|    USA|   CA|  6000|         12000.0|
|    James|   Smith|    USA|   FL| 20000|         40000.0|
|   Martin|   Jones|    USA|   CA|  3000|          6000.0|
|      Sam|Anderson|     UK|  LND|  8000|         16000.0|
|    Maria| Patrick|     UK|  MCR|  7000|         14000.0|
|    Robet|   Bevon|     UK|  LND|  3500|          7000.0|
|    Maria|Anderson|     UK|  MCR|  3000|          6000.0|
+---------+--------+-------+-----+------+----------------+

In [0]:
# add a new calculated fll name , concatenate first and last name
df1 = df.withColumn("FullName",concat(df.FirstName,lit("   "), df.LastName))
df1.show()

+---------+--------+-------+-----+------+----------------+----------------+
|FirstName|LastName|Country|State|Salary|Salary_Increment|        FullName|
+---------+--------+-------+-----+------+----------------+----------------+
|     raja|  pushpa|    USA|     | 30000|         60000.0|   raja   pushpa|
|    priya|  pushpa|    USA|     | 29900|         59800.0|  priya   pushpa|
|  Karthik|    Subu|    USA|   CA|  6000|         12000.0|  Karthik   Subu|
|    James|   Smith|    USA|   FL| 20000|         40000.0|   James   Smith|
|   Martin|   Jones|    USA|   CA|  3000|          6000.0|  Martin   Jones|
|      Sam|Anderson|     UK|  LND|  8000|         16000.0|  Sam   Anderson|
|    Maria| Patrick|     UK|  MCR|  7000|         14000.0| Maria   Patrick|
|    Robet|   Bevon|     UK|  LND|  3500|          7000.0|   Robet   Bevon|
|    Maria|Anderson|     UK|  MCR|  3000|          6000.0|Maria   Anderson|
+---------+--------+-------+-----+------+----------------+----------------+

In [0]:
# add a static column called Reportname and values should be "empdetail"
df1 = df.withColumn("ReportNmae",lit("empdetail"))
df1.show()

+---------+--------+-------+-----+------+----------------+----------+
|FirstName|LastName|Country|State|Salary|Salary_Increment|ReportNmae|
+---------+--------+-------+-----+------+----------------+----------+
|     raja|  pushpa|    USA|     | 30000|         60000.0| empdetail|
|    priya|  pushpa|    USA|     | 29900|         59800.0| empdetail|
|  Karthik|    Subu|    USA|   CA|  6000|         12000.0| empdetail|
|    James|   Smith|    USA|   FL| 20000|         40000.0| empdetail|
|   Martin|   Jones|    USA|   CA|  3000|          6000.0| empdetail|
|      Sam|Anderson|     UK|  LND|  8000|         16000.0| empdetail|
|    Maria| Patrick|     UK|  MCR|  7000|         14000.0| empdetail|
|    Robet|   Bevon|     UK|  LND|  3500|          7000.0| empdetail|
|    Maria|Anderson|     UK|  MCR|  3000|          6000.0| empdetail|
+---------+--------+-------+-----+------+----------------+----------+

In [0]:
# Rename a column
# option1: using the select method
df1 = df.select(df.FirstName.alias("F_NAME"),
               df.LastName.alias("L_NAME"),
               df.State.alias("ST"),
               df.Country.alias("cnt"), df.Salary)
df1.show()

+--------+--------+---+---+------+
|  F_NAME|  L_NAME| ST|cnt|Salary|
+--------+--------+---+---+------+
|    raja|  pushpa|   |USA| 30000|
|   priya|  pushpa|   |USA| 29900|
| Karthik|    Subu| CA|USA|  6000|
|   James|   Smith| FL|USA| 20000|
|  Martin|   Jones| CA|USA|  3000|
|     Sam|Anderson|LND| UK|  8000|
|   Maria| Patrick|MCR| UK|  7000|
|   Robet|   Bevon|LND| UK|  3500|
|   Maria|Anderson|MCR| UK|  3000|
+--------+--------+---+---+------+

In [0]:
df1 = df.select(df.FirstName.alias("F_NAME"),
               df.LastName.alias("L_NAME"),
               df.State,df.Country, df.Salary)
df1.show()

+--------+--------+-----+-------+------+
|  F_NAME|  L_NAME|State|Country|Salary|
+--------+--------+-----+-------+------+
|    raja|  pushpa|     |    USA| 30000|
|   priya|  pushpa|     |    USA| 29900|
| Karthik|    Subu|   CA|    USA|  6000|
|   James|   Smith|   FL|    USA| 20000|
|  Martin|   Jones|   CA|    USA|  3000|
|     Sam|Anderson|  LND|     UK|  8000|
|   Maria| Patrick|  MCR|     UK|  7000|
|   Robet|   Bevon|  LND|     UK|  3500|
|   Maria|Anderson|  MCR|     UK|  3000|
+--------+--------+-----+-------+------+

In [0]:
#Option2 using the with ColumRenamed method
df1 = df.withColumnRenamed("FirstName","F_NAME")\
        .withColumnRenamed("LastName","L_NAME")
df1.show()

+--------+--------+-------+-----+------+----------------+
|  F_NAME|  L_NAME|Country|State|Salary|Salary_Increment|
+--------+--------+-------+-----+------+----------------+
|    raja|  pushpa|    USA|     | 30000|         60000.0|
|   priya|  pushpa|    USA|     | 29900|         59800.0|
| Karthik|    Subu|    USA|   CA|  6000|         12000.0|
|   James|   Smith|    USA|   FL| 20000|         40000.0|
|  Martin|   Jones|    USA|   CA|  3000|          6000.0|
|     Sam|Anderson|     UK|  LND|  8000|         16000.0|
|   Maria| Patrick|     UK|  MCR|  7000|         14000.0|
|   Robet|   Bevon|     UK|  LND|  3500|          7000.0|
|   Maria|Anderson|     UK|  MCR|  3000|          6000.0|
+--------+--------+-------+-----+------+----------------+