In [0]:
# Expression language : whenever a pyspark funcation is not found, we can use SQL statement inside a pyspark stetement using the expression language
#syntax: expr("SQL STATEMENT")

In [0]:
staticlist = [(" raja", "pushpa", "USA","",30000),
            (" priya", "pushpa", "USA","",29900),
            (" Karthik", "Subu", "USA","CA",6000),
            (" James", "Smith", "USA","FL",20000),
            ("Martin", "Jones", "USA","CA",3000),
            ("Sam", "Anderson", "UK","LND",8000),
            ("Maria", "Patrick", "UK","MCR",7000),
            ("Robet", "Bevon", "UK","LND",3500),
            ("Maria", "Anderson", "UK","MCR",3000)
            ]
columns = ["firstname","lastname","country","state","sal"]            
df = spark.createDataFrame( data = staticlist, schema = columns)
df.show()

+---------+--------+-------+-----+-----+
|firstname|lastname|country|state|  sal|
+---------+--------+-------+-----+-----+
|     raja|  pushpa|    USA|     |30000|
|    priya|  pushpa|    USA|     |29900|
|  Karthik|    Subu|    USA|   CA| 6000|
|    James|   Smith|    USA|   FL|20000|
|   Martin|   Jones|    USA|   CA| 3000|
|      Sam|Anderson|     UK|  LND| 8000|
|    Maria| Patrick|     UK|  MCR| 7000|
|    Robet|   Bevon|     UK|  LND| 3500|
|    Maria|Anderson|     UK|  MCR| 3000|
+---------+--------+-------+-----+-----+

In [0]:
# REPLACE USA WITH UNITTED STATES
from pyspark.sql.functions import *
df2 = df.withColumn("Updated_Country",expr("case when country = 'USA' then 'UNITED STATES' else country end"))
df2.show()

+---------+--------+-------+-----+-----+---------------+
|firstname|lastname|country|state|  sal|Updated_Country|
+---------+--------+-------+-----+-----+---------------+
|     raja|  pushpa|    USA|     |30000|  UNITED STATES|
|    priya|  pushpa|    USA|     |29900|  UNITED STATES|
|  Karthik|    Subu|    USA|   CA| 6000|  UNITED STATES|
|    James|   Smith|    USA|   FL|20000|  UNITED STATES|
|   Martin|   Jones|    USA|   CA| 3000|  UNITED STATES|
|      Sam|Anderson|     UK|  LND| 8000|             UK|
|    Maria| Patrick|     UK|  MCR| 7000|             UK|
|    Robet|   Bevon|     UK|  LND| 3500|             UK|
|    Maria|Anderson|     UK|  MCR| 3000|             UK|
+---------+--------+-------+-----+-----+---------------+

In [0]:
df2 = df.withColumn("Up_Cntry", expr("replace(country,'USA','UNITED STATES')"))
df2.show()

+---------+--------+-------+-----+-----+-------------+
|firstname|lastname|country|state|  sal|     Up_Cntry|
+---------+--------+-------+-----+-----+-------------+
|     raja|  pushpa|    USA|     |30000|UNITED STATES|
|    priya|  pushpa|    USA|     |29900|UNITED STATES|
|  Karthik|    Subu|    USA|   CA| 6000|UNITED STATES|
|    James|   Smith|    USA|   FL|20000|UNITED STATES|
|   Martin|   Jones|    USA|   CA| 3000|UNITED STATES|
|      Sam|Anderson|     UK|  LND| 8000|           UK|
|    Maria| Patrick|     UK|  MCR| 7000|           UK|
|    Robet|   Bevon|     UK|  LND| 3500|           UK|
|    Maria|Anderson|     UK|  MCR| 3000|           UK|
+---------+--------+-------+-----+-----+-------------+

In [0]:
#DATE USECASES
# YTD, MTD, QTD,WTD,MOM,YOY,YEAR,QUARTER, MONTH, WEEK, PREVIOUS YEAR, PREVIOUS MONTH, CONVERT TO DATE
# LAST 12 MONTH ENDS DATA

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import *

data = [(1,'2023-06-07','12/31/2023'),
        (2,'2022-02-01','11/30/2022'),
        (3,'2023-12-31','11/30/2023'),
        (4,'2024-01-01','01/31/2024'),
        (5,'2024-02-01','02/28/2024'),
        (6,'2025-01-07','06/30/2025')]
col = ['S_no','StartDate','EndDate']
df = spark.createDataFrame(data = data, schema = col)        
df.show()
df.printSchema()

+----+----------+----------+
|S_no| StartDate|   EndDate|
+----+----------+----------+
|   1|2023-06-07|12/31/2023|
|   2|2022-02-01|11/30/2022|
|   3|2023-12-31|11/30/2023|
|   4|2024-01-01|01/31/2024|
|   5|2024-02-01|02/28/2024|
|   6|2025-01-07|06/30/2025|
+----+----------+----------+

root
 |-- S_no: long (nullable = true)
 |-- StartDate: string (nullable = true)
 |-- EndDate: string (nullable = true)

In [0]:
# Cast a string data type to data type
# cast to a date will return a value if the string is in yyyy-mm-dd format. Any other format , it will retrun null.
# use to_date function to handle other format scenarios

df_cast = df.withColumn("StartDate",df.StartDate.cast(DateType()))\
            .withColumn("EndDate",df.EndDate.cast(DateType()))
df_cast.show()   
df_cast.printSchema()

+----+----------+-------+
|S_no| StartDate|EndDate|
+----+----------+-------+
|   1|2023-06-07|   null|
|   2|2022-02-01|   null|
|   3|2023-12-31|   null|
|   4|2024-01-01|   null|
|   5|2024-02-01|   null|
|   6|2025-01-07|   null|
+----+----------+-------+

root
 |-- S_no: long (nullable = true)
 |-- StartDate: date (nullable = true)
 |-- EndDate: date (nullable = true)

In [0]:
# to hanle above scenariom use to_date function
# use todate to convert the string into a date format
# syntax: to_date("DATECOL","dateformat")
# to_date doesnt require any optional sting format if the current string is in yyyy-mm-dd format. if the sting  # date is any other format, optional string is mandatory

df_cast = df.withColumn("StartDate",df.StartDate.cast(DateType()))\
            .withColumn("EndDate",to_date("EndDate",'MM/dd/yyyy'))
df_cast.show()

+----+----------+----------+
|S_no| StartDate|   EndDate|
+----+----------+----------+
|   1|2023-06-07|2023-12-31|
|   2|2022-02-01|2022-11-30|
|   3|2023-12-31|2023-11-30|
|   4|2024-01-01|2024-01-31|
|   5|2024-02-01|2024-02-28|
|   6|2025-01-07|2025-06-30|
+----+----------+----------+

In [0]:
#GET YEAR, MONTH, QUARTER, DAY

df_dates = df.withColumn("YEAR",year("StartDate"))\
             .withColumn("QUARTER",quarter("StartDate"))\
              .withColumn("MONTH",month("StartDate"))\
              .withColumn("DAY_MONTH",dayofmonth("StartDate"))\
              .withColumn("DAY_YEAR",dayofyear("StartDate"))\
              .withColumn("DAY_WEEK",dayofweek("StartDate"))
df_dates.show()

+----+----------+----------+----+-------+-----+---------+--------+--------+
|S_no| StartDate|   EndDate|YEAR|QUARTER|MONTH|DAY_MONTH|DAY_YEAR|DAY_WEEK|
+----+----------+----------+----+-------+-----+---------+--------+--------+
|   1|2023-06-07|12/31/2023|2023|      2|    6|        7|     158|       4|
|   2|2022-02-01|11/30/2022|2022|      1|    2|        1|      32|       3|
|   3|2023-12-31|11/30/2023|2023|      4|   12|       31|     365|       1|
|   4|2024-01-01|01/31/2024|2024|      1|    1|        1|       1|       2|
|   5|2024-02-01|02/28/2024|2024|      1|    2|        1|      32|       5|
|   6|2025-01-07|06/30/2025|2025|      1|    1|        7|       7|       3|
+----+----------+----------+----+-------+-----+---------+--------+--------+

In [0]:
#ADD DATE TO EXISTING DATES
df_add1 = df.withColumn("ADD2_Days",date_add("StartDate",2))
df_add1.show()

+----+----------+----------+----------+
|S_no| StartDate|   EndDate| ADD2_Days|
+----+----------+----------+----------+
|   1|2023-06-07|12/31/2023|2023-06-09|
|   2|2022-02-01|11/30/2022|2022-02-03|
|   3|2023-12-31|11/30/2023|2024-01-02|
|   4|2024-01-01|01/31/2024|2024-01-03|
|   5|2024-02-01|02/28/2024|2024-02-03|
|   6|2025-01-07|06/30/2025|2025-01-09|
+----+----------+----------+----------+

In [0]:
#REMOVE DAYS FROM  EXISTING DATE
df_rem = df.withColumn("SUB_2_days",date_sub("StartDate",2))
df_rem.show()

+----+----------+----------+----------+
|S_no| StartDate|   EndDate|SUB_2_days|
+----+----------+----------+----------+
|   1|2023-06-07|12/31/2023|2023-06-05|
|   2|2022-02-01|11/30/2022|2022-01-30|
|   3|2023-12-31|11/30/2023|2023-12-29|
|   4|2024-01-01|01/31/2024|2023-12-30|
|   5|2024-02-01|02/28/2024|2024-01-30|
|   6|2025-01-07|06/30/2025|2025-01-05|
+----+----------+----------+----------+

In [0]:
#ADD/REMOVE moths to existing date
# FOR YEAR, QUARTER,HALF YEAR use multiples of monts as we dont have a direct dataadd funcion for year, quarter,month
#2 TEAR = 24 MONTHS, 2 QUARTERS = 6 MONTHS

df_add2 = df.withColumn("add_2_months",add_months("StartDate",2))\
            .withColumn("Remove_2_months",add_months("StartDate",-2))
df_add2.show()

+----+----------+----------+------------+---------------+
|S_no| StartDate|   EndDate|add_2_months|Remove_2_months|
+----+----------+----------+------------+---------------+
|   1|2023-06-07|12/31/2023|  2023-08-07|     2023-04-07|
|   2|2022-02-01|11/30/2022|  2022-04-01|     2021-12-01|
|   3|2023-12-31|11/30/2023|  2024-02-29|     2023-10-31|
|   4|2024-01-01|01/31/2024|  2024-03-01|     2023-11-01|
|   5|2024-02-01|02/28/2024|  2024-04-01|     2023-12-01|
|   6|2025-01-07|06/30/2025|  2025-03-07|     2024-11-07|
+----+----------+----------+------------+---------------+

In [0]:
#Alternate option to use date add for year, quarter,week
# use EXPRESSION LANUAGE
df_add3 = df.withColumn("ADD_2_years",expr("DATEADD(year,2,StartDate)"))\
            .withColumn("ADD_3_Quarters",expr("DATEADD(quarter,3,StartDate)"))\
            .withColumn("ADD_5_weeks",expr("DATEADD(WEEK,5,sTARTdATE)"))    
df_add3.show()

+----+----------+----------+-------------------+-------------------+-------------------+
|S_no| StartDate|   EndDate|        ADD_2_years|     ADD_3_Quarters|        ADD_5_weeks|
+----+----------+----------+-------------------+-------------------+-------------------+
|   1|2023-06-07|12/31/2023|2025-06-07 00:00:00|2024-03-07 00:00:00|2023-07-12 00:00:00|
|   2|2022-02-01|11/30/2022|2024-02-01 00:00:00|2022-11-01 00:00:00|2022-03-08 00:00:00|
|   3|2023-12-31|11/30/2023|2025-12-31 00:00:00|2024-09-30 00:00:00|2024-02-04 00:00:00|
|   4|2024-01-01|01/31/2024|2026-01-01 00:00:00|2024-10-01 00:00:00|2024-02-05 00:00:00|
|   5|2024-02-01|02/28/2024|2026-02-01 00:00:00|2024-11-01 00:00:00|2024-03-07 00:00:00|
|   6|2025-01-07|06/30/2025|2027-01-07 00:00:00|2025-10-07 00:00:00|2025-02-11 00:00:00|
+----+----------+----------+-------------------+-------------------+-------------------+

In [0]:
#LAST DAY OF MONTH
df_lst = df.withColumn("Last_Day",last_day("StartDate"))
df_lst.show()

+----+----------+----------+----------+
|S_no| StartDate|   EndDate|  Last_Day|
+----+----------+----------+----------+
|   1|2023-06-07|12/31/2023|2023-06-30|
|   2|2022-02-01|11/30/2022|2022-02-28|
|   3|2023-12-31|11/30/2023|2023-12-31|
|   4|2024-01-01|01/31/2024|2024-01-31|
|   5|2024-02-01|02/28/2024|2024-02-29|
|   6|2025-01-07|06/30/2025|2025-01-31|
+----+----------+----------+----------+

In [0]:
#Currentdate will give the output as date only
#Currenttimestamp will return both date and time in UTC timezone

df_curr = df.withColumn("CurrentDate",current_date())\
            .withColumn("CUrrentTimeStamp",current_timestamp())
df_curr.show()

+----+----------+----------+-----------+--------------------+
|S_no| StartDate|   EndDate|CurrentDate|    CUrrentTimeStamp|
+----+----------+----------+-----------+--------------------+
|   1|2023-06-07|12/31/2023| 2025-06-24|2025-06-24 16:47:...|
|   2|2022-02-01|11/30/2022| 2025-06-24|2025-06-24 16:47:...|
|   3|2023-12-31|11/30/2023| 2025-06-24|2025-06-24 16:47:...|
|   4|2024-01-01|01/31/2024| 2025-06-24|2025-06-24 16:47:...|
|   5|2024-02-01|02/28/2024| 2025-06-24|2025-06-24 16:47:...|
|   6|2025-01-07|06/30/2025| 2025-06-24|2025-06-24 16:47:...|
+----+----------+----------+-----------+--------------------+