#Filter" We are selecting the required rows from a dataframe syntax:dataframe.filter("")"

In [0]:
from pyspark.sql.types import *
staticlist = [(" raja", "pushpa", "USA","",30000),
            (" priya", "pushpa", "USA","",29900),
            (" Karthik", "Subu", "USA","CA",6000),
            (" James", "Smith", "USA","FL",20000),
            ("Martin", "Jones", "USA","CA",3000),
            ("Sam", "Anderson", "UK","LND",8000),
            ("Maria", "Patrick", "UK","MCR",7000),
            ("Robet", "Bevon", "UK","LND",3500),
            ("Maria", "Anderson", "UK","MCR",3000)
            ]
columns = ["firstname","lastname","country","state","sal"]            
df = spark.createDataFrame( data = staticlist, schema = columns)
df.show()

+---------+--------+-------+-----+-----+
|firstname|lastname|country|state|  sal|
+---------+--------+-------+-----+-----+
|     raja|  pushpa|    USA|     |30000|
|    priya|  pushpa|    USA|     |29900|
|  Karthik|    Subu|    USA|   CA| 6000|
|    James|   Smith|    USA|   FL|20000|
|   Martin|   Jones|    USA|   CA| 3000|
|      Sam|Anderson|     UK|  LND| 8000|
|    Maria| Patrick|     UK|  MCR| 7000|
|    Robet|   Bevon|     UK|  LND| 3500|
|    Maria|Anderson|     UK|  MCR| 3000|
+---------+--------+-------+-----+-----+

In [0]:
from pyspark.sql.types import *

staticlist = [(" raja", "pushpa", "USA","",30000),
            (" priya", "pushpa", "USA","",29900),
            (" Karthik", "Subu          ", "USA","CA",6000),
            ("          James", "Smith", "USA","FL",20000),
            ("Martin", "Jones", "USA","CA",3000),
            ("Sam", "Anderson", "UK","LND",8000),
            ("Maria", "Patrick", "UK","MCR",7000),
            ("Robet", "Bevon        ", "UK ","LND",3500),
            ("Maria", "Anderson   ", "UK","MCR",3000)
            ]
StructSchema = StructType([
                            StructField('FirstName',StringType(),False),
                            StructField('LastName',StringType(),True),
                            StructField('Country',StringType(),False),
                            StructField('State',StringType(),False),
                            StructField('Salary',StringType(),False),
])
df = spark.createDataFrame(data = staticlist, schema = StructSchema)
df.show()

+---------------+--------------+-------+-----+------+
|      FirstName|      LastName|Country|State|Salary|
+---------------+--------------+-------+-----+------+
|           raja|        pushpa|    USA|     | 30000|
|          priya|        pushpa|    USA|     | 29900|
|        Karthik|Subu          |    USA|   CA|  6000|
|          James|         Smith|    USA|   FL| 20000|
|         Martin|         Jones|    USA|   CA|  3000|
|            Sam|      Anderson|     UK|  LND|  8000|
|          Maria|       Patrick|     UK|  MCR|  7000|
|          Robet| Bevon        |    UK |  LND|  3500|
|          Maria|   Anderson   |     UK|  MCR|  3000|
+---------------+--------------+-------+-----+------+

In [0]:
#place  a filter where salary is above 5000 #single column filter
df_filter1 = df.filter("Salary > 5000")
df_filter1.show()

+---------+--------+-------+-----+------+
|FirstName|LastName|Country|State|Salary|
+---------+--------+-------+-----+------+
|     raja|  pushpa|    USA|     | 30000|
|    priya|  pushpa|    USA|     | 29900|
|  Karthik|    Subu|    USA|   CA|  6000|
|    James|   Smith|    USA|   FL| 20000|
|      Sam|Anderson|     UK|  LND|  8000|
|    Maria| Patrick|     UK|  MCR|  7000|
+---------+--------+-------+-----+------+

In [0]:
#Multiple Column filters
#get employees with salary > 5000 and country is UK
df_filter1 = df.filter("Salary > 5000 AND Country = 'UK'")
df_filter1.show()

+---------+--------+-------+-----+------+
|FirstName|LastName|Country|State|Salary|
+---------+--------+-------+-----+------+
|      Sam|Anderson|     UK|  LND|  8000|
|    Maria| Patrick|     UK|  MCR|  7000|
+---------+--------+-------+-----+------+

In [0]:
#option2 using dataframe method

df_filter2 = df.filter(df.Salary > 5000)
df_filter2.show()

+---------+--------+-------+-----+------+
|FirstName|LastName|Country|State|Salary|
+---------+--------+-------+-----+------+
|     raja|  pushpa|    USA|     | 30000|
|    priya|  pushpa|    USA|     | 29900|
|  Karthik|    Subu|    USA|   CA|  6000|
|    James|   Smith|    USA|   FL| 20000|
|      Sam|Anderson|     UK|  LND|  8000|
|    Maria| Patrick|     UK|  MCR|  7000|
+---------+--------+-------+-----+------+

In [0]:
#option2: Multiple Column filters
# when using dataframe AND will be replaces with "&" symbol, OR will be replace with "|" symbol and  "=" will be replaced with "==" symbol
df_filter2 = df.filter((df.Salary > 5000) & (df.Country == 'UK'))
df_filter2.show()

+---------+--------+-------+-----+------+
|FirstName|LastName|Country|State|Salary|
+---------+--------+-------+-----+------+
|      Sam|Anderson|     UK|  LND|  8000|
|    Maria| Patrick|     UK|  MCR|  7000|
+---------+--------+-------+-----+------+

In [0]:
# Multiple colums and multiple conditions
# If country is US then salary > 20000, If Country is not US then salary > 5000

df_filter3 = df.filter(
    ((df.Country == 'USA') & (df.Salary > 20000))
    |
    ((df.Country != 'USA') & (df.Salary > 7000))
)

df_filter3.show()

+---------+--------+-------+-----+------+
|FirstName|LastName|Country|State|Salary|
+---------+--------+-------+-----+------+
|     raja|  pushpa|    USA|     | 30000|
|    priya|  pushpa|    USA|     | 29900|
|      Sam|Anderson|     UK|  LND|  8000|
+---------+--------+-------+-----+------+

In [0]:
# Get the Upper case, lower case and title case fro any string
# you can apply these functions inside the withColumn method to apply the required transformations

# get the upper case for dataframe which using now


from pyspark.sql.functions import *
df2 = df.withColumn("UpperCase",upper("firstname"))\
       .withColumn("LowerCase",lower("firstname"))\
       .withColumn("TitleCase",initcap("firstname"))    
df2.show()

+---------+--------+-------+-----+------+---------+---------+---------+
|FirstName|LastName|Country|State|Salary|UpperCase|LowerCase|TitleCase|
+---------+--------+-------+-----+------+---------+---------+---------+
|     raja|  pushpa|    USA|     | 30000|     RAJA|     raja|     Raja|
|    priya|  pushpa|    USA|     | 29900|    PRIYA|    priya|    Priya|
|  Karthik|    Subu|    USA|   CA|  6000|  KARTHIK|  karthik|  Karthik|
|    James|   Smith|    USA|   FL| 20000|    JAMES|    james|    James|
|   Martin|   Jones|    USA|   CA|  3000|   MARTIN|   martin|   Martin|
|      Sam|Anderson|     UK|  LND|  8000|      SAM|      sam|      Sam|
|    Maria| Patrick|     UK|  MCR|  7000|    MARIA|    maria|    Maria|
|    Robet|   Bevon|     UK|  LND|  3500|    ROBET|    robet|    Robet|
|    Maria|Anderson|     UK|  MCR|  3000|    MARIA|    maria|    Maria|
+---------+--------+-------+-----+------+---------+---------+---------+

In [0]:
#concat firstname and last name to create a full name
#concat("col1","col2",col3..)
df2 = df.withColumn("Full_Name",concat(initcap("firstname"),lit(" "), initcap("lastname")))
df2.show()

+---------------+--------------+-------+-----+------+--------------------+
|      FirstName|      LastName|Country|State|Salary|           Full_Name|
+---------------+--------------+-------+-----+------+--------------------+
|           raja|        pushpa|    USA|     | 30000|         Raja Pushpa|
|          priya|        pushpa|    USA|     | 29900|        Priya Pushpa|
|        Karthik|Subu          |    USA|   CA|  6000| Karthik Subu    ...|
|          James|         Smith|    USA|   FL| 20000|          James S...|
|         Martin|         Jones|    USA|   CA|  3000|        Martin Jones|
|            Sam|      Anderson|     UK|  LND|  8000|        Sam Anderson|
|          Maria|       Patrick|     UK|  MCR|  7000|       Maria Patrick|
|          Robet| Bevon        |    UK |  LND|  3500| Robet Bevon        |
|          Maria|   Anderson   |     UK|  MCR|  3000|   Maria Anderson   |
+---------------+--------------+-------+-----+------+--------------------+

In [0]:
# https://www.databricks.com/blog/2016/07/14/a-tale-of-three-apache-spark-apis-rdds-dataframes-and-datasets.html

In [0]:
# remmoving ladig and triling speces
# trim function will remove leading and trailing speacs from any string
df3 =  df. withColumn("TrimedVersion",trim("lastname"))
df3.show()

+---------------+--------------+-------+-----+------+-------------+
|      FirstName|      LastName|Country|State|Salary|TrimedVersion|
+---------------+--------------+-------+-----+------+-------------+
|           raja|        pushpa|    USA|     | 30000|       pushpa|
|          priya|        pushpa|    USA|     | 29900|       pushpa|
|        Karthik|Subu          |    USA|   CA|  6000|         Subu|
|          James|         Smith|    USA|   FL| 20000|        Smith|
|         Martin|         Jones|    USA|   CA|  3000|        Jones|
|            Sam|      Anderson|     UK|  LND|  8000|     Anderson|
|          Maria|       Patrick|     UK|  MCR|  7000|      Patrick|
|          Robet| Bevon        |    UK |  LND|  3500|        Bevon|
|          Maria|   Anderson   |     UK|  MCR|  3000|     Anderson|
+---------------+--------------+-------+-----+------+-------------+