In [0]:
staticlist = [("raja", "pushpa", "USA","",30000),
            ("priya", "pushpa", "USA","",29900),
            ("Karthik", "Subu", "USA","CA",6000),
            ("James", "Smith", "USA","FL",20000),
            ("Martin", "Jones", "USA","CA",3000),
            ("Sam", "Anderson", "UK","LND",8000),
            ("Maria", "Patrick", "UK","MCR",7000),
            ("Robet", "Bevon", "UK","LND",3500),
            ("Maria", "Anderson", "UK","MCR",3000)
            ]
columns = ["firstname","lastname","country","state","sal"]            
df = spark.createDataFrame( data = staticlist, schema = columns)
df.show()

+---------+--------+-------+-----+-----+
|firstname|lastname|country|state|  sal|
+---------+--------+-------+-----+-----+
|     raja|  pushpa|    USA|     |30000|
|    priya|  pushpa|    USA|     |29900|
|  Karthik|    Subu|    USA|   CA| 6000|
|    James|   Smith|    USA|   FL|20000|
|   Martin|   Jones|    USA|   CA| 3000|
|      Sam|Anderson|     UK|  LND| 8000|
|    Maria| Patrick|     UK|  MCR| 7000|
|    Robet|   Bevon|     UK|  LND| 3500|
|    Maria|Anderson|     UK|  MCR| 3000|
+---------+--------+-------+-----+-----+

In [0]:
from pyspark.sql.functions import *

df1 = df.withColumn("TV",trim('lastname'))
df1.show()

+---------+--------+-------+-----+-----+--------+
|firstname|lastname|country|state|  sal|      TV|
+---------+--------+-------+-----+-----+--------+
|     raja|  pushpa|    USA|     |30000|  pushpa|
|    priya|  pushpa|    USA|     |29900|  pushpa|
|  Karthik|    Subu|    USA|   CA| 6000|    Subu|
|    James|   Smith|    USA|   FL|20000|   Smith|
|   Martin|   Jones|    USA|   CA| 3000|   Jones|
|      Sam|Anderson|     UK|  LND| 8000|Anderson|
|    Maria| Patrick|     UK|  MCR| 7000| Patrick|
|    Robet|   Bevon|     UK|  LND| 3500|   Bevon|
|    Maria|Anderson|     UK|  MCR| 3000|Anderson|
+---------+--------+-------+-----+-----+--------+

In [0]:
#get the left right and middle values of any given string
#syntax: substring("<colname>",<string position>,<length of string>)

df2 = df.withColumn("Full_Name",trim(concat(initcap("firstname"),lit(" "),initcap("lastname"))))
df3 = df2.withColumn("First4letters",substring("Full_name",0,4))\
         .withColumn("Last4letters",substring("Full_name",-4,4))\
         .withColumn("3rdpos_4letters",substring("Full_name",3,4))\
         .withColumn("3rddigitrests",substring("Full_name",3,len("Full_name")))
df3.show()

+---------+--------+-------+-----+-----+--------------+-------------+------------+---------------+-------------+
|firstname|lastname|country|state|  sal|     Full_Name|First4letters|Last4letters|3rdpos_4letters|3rddigitrests|
+---------+--------+-------+-----+-----+--------------+-------------+------------+---------------+-------------+
|     raja|  pushpa|    USA|     |30000|   Raja Pushpa|         Raja|        shpa|           ja P|    ja Pushpa|
|    priya|  pushpa|    USA|     |29900|  Priya Pushpa|         Priy|        shpa|           iya |    iya Pushp|
|  Karthik|    Subu|    USA|   CA| 6000|  Karthik Subu|         Kart|        Subu|           rthi|    rthik Sub|
|    James|   Smith|    USA|   FL|20000|   James Smith|         Jame|        mith|           mes |    mes Smith|
|   Martin|   Jones|    USA|   CA| 3000|  Martin Jones|         Mart|        ones|           rtin|    rtin Jone|
|      Sam|Anderson|     UK|  LND| 8000|  Sam Anderson|         Sam |        rson|           m An|    m Anderso|
|    Maria| Patrick|     UK|  MCR| 7000| Maria Patrick|         Mari|        rick|           ria |    ria Patri|
|    Robet|   Bevon|     UK|  LND| 3500|   Robet Bevon|         Robe|        evon|           bet |    bet Bevon|
|    Maria|Anderson|     UK|  MCR| 3000|Maria Anderson|         Mari|        rson|           ria |    ria Ander|
+---------+--------+-------+-----+-----+--------------+-------------+------------+---------------+-------------+

In [0]:
#get the legth of string
#len("colname")
df4 = df2.select(df2['*'],length("Full_Name").alias("length"))
df4.show()
df4.printSchema()

+---------+--------+-------+-----+-----+--------------+------+
|firstname|lastname|country|state|  sal|     Full_Name|length|
+---------+--------+-------+-----+-----+--------------+------+
|     raja|  pushpa|    USA|     |30000|   Raja Pushpa|    11|
|    priya|  pushpa|    USA|     |29900|  Priya Pushpa|    12|
|  Karthik|    Subu|    USA|   CA| 6000|  Karthik Subu|    12|
|    James|   Smith|    USA|   FL|20000|   James Smith|    11|
|   Martin|   Jones|    USA|   CA| 3000|  Martin Jones|    12|
|      Sam|Anderson|     UK|  LND| 8000|  Sam Anderson|    12|
|    Maria| Patrick|     UK|  MCR| 7000| Maria Patrick|    13|
|    Robet|   Bevon|     UK|  LND| 3500|   Robet Bevon|    11|
|    Maria|Anderson|     UK|  MCR| 3000|Maria Anderson|    14|
+---------+--------+-------+-----+-----+--------------+------+

root
 |-- firstname: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- country: string (nullable = true)
 |-- state: string (nullable = true)
 |-- sal: long (nullable = true)
 |-- Full_Name: string (nullable = true)
 |-- length: integer (nullable = true)

In [0]:
#check if the colum is null
df5 = df.withColumn("isNull",isnull("state"))
df5.show()

+---------+--------+-------+-----+-----+------+
|firstname|lastname|country|state|  sal|isNull|
+---------+--------+-------+-----+-----+------+
|     raja|  pushpa|    USA|     |30000| false|
|    priya|  pushpa|    USA|     |29900| false|
|  Karthik|    Subu|    USA|   CA| 6000| false|
|    James|   Smith|    USA|   FL|20000| false|
|   Martin|   Jones|    USA|   CA| 3000| false|
|      Sam|Anderson|     UK|  LND| 8000| false|
|    Maria| Patrick|     UK|  MCR| 7000| false|
|    Robet|   Bevon|     UK|  LND| 3500| false|
|    Maria|Anderson|     UK|  MCR| 3000| false|
+---------+--------+-------+-----+-----+------+

In [0]:
list1 = [(None,'Kumar','yello'),('Ram','Kumar',None),(None,None,'Raj')]
df6 = spark.createDataFrame(data = list1, schema = ["col1","col2","col3"])
df7 = df6.withColumn("coalesce",coalesce("col1","col2","col3"))
df7.show()
df6.show()

+----+-----+-----+--------+
|col1| col2| col3|coalesce|
+----+-----+-----+--------+
|null|Kumar|yello|   Kumar|
| Ram|Kumar| null|     Ram|
|null| null|  Raj|     Raj|
+----+-----+-----+--------+

+----+-----+-----+
|col1| col2| col3|
+----+-----+-----+
|null|Kumar|yello|
| Ram|Kumar| null|
|null| null|  Raj|
+----+-----+-----+

In [0]:
# https://docs.databricks.com/aws/en/sql/language-manual/functions/coalesce

In [0]:
df8 = df2.withColumn("split",split("Full_Name"," ",0))
df8.show()
df9 = df8.withColumn("First_Split",df8.split[0])\
         .withColumn("second_Split",df8.split[1])
df9.show()

+---------+--------+-------+-----+-----+--------------+-----------------+
|firstname|lastname|country|state|  sal|     Full_Name|            split|
+---------+--------+-------+-----+-----+--------------+-----------------+
|     raja|  pushpa|    USA|     |30000|   Raja Pushpa|   [Raja, Pushpa]|
|    priya|  pushpa|    USA|     |29900|  Priya Pushpa|  [Priya, Pushpa]|
|  Karthik|    Subu|    USA|   CA| 6000|  Karthik Subu|  [Karthik, Subu]|
|    James|   Smith|    USA|   FL|20000|   James Smith|   [James, Smith]|
|   Martin|   Jones|    USA|   CA| 3000|  Martin Jones|  [Martin, Jones]|
|      Sam|Anderson|     UK|  LND| 8000|  Sam Anderson|  [Sam, Anderson]|
|    Maria| Patrick|     UK|  MCR| 7000| Maria Patrick| [Maria, Patrick]|
|    Robet|   Bevon|     UK|  LND| 3500|   Robet Bevon|   [Robet, Bevon]|
|    Maria|Anderson|     UK|  MCR| 3000|Maria Anderson|[Maria, Anderson]|
+---------+--------+-------+-----+-----+--------------+-----------------+

+---------+--------+-------+-----+-----+--------------+-----------------+-----------+------------+
|firstname|lastname|country|state|  sal|     Full_Name|            split|First_Split|second_Split|
+---------+--------+-------+-----+-----+--------------+-----------------+-----------+------------+
|     raja|  pushpa|    USA|     |30000|   Raja Pushpa|   [Raja, Pushpa]|       Raja|      Pushpa|
|    priya|  pushpa|    USA|     |29900|  Priya Pushpa|  [Priya, Pushpa]|      Priya|      Pushpa|
|  Karthik|    Subu|    USA|   CA| 6000|  Karthik Subu|  [Karthik, Subu]|    Karthik|        Subu|
|    James|   Smith|    USA|   FL|20000|   James Smith|   [James, Smith]|      James|       Smith|
|   Martin|   Jones|    USA|   CA| 3000|  Martin Jones|  [Martin, Jones]|     Martin|       Jones|
|      Sam|Anderson|     UK|  LND| 8000|  Sam Anderson|  [Sam, Anderson]|        Sam|    Anderson|
|    Maria| Patrick|     UK|  MCR| 7000| Maria Patrick| [Maria, Patrick]|      Maria|     Patrick|
|    Robet|   Bevon|     UK|  LND| 3500|   Robet Bevon|   [Robet, Bevon]|      Robet|       Bevon|
|    Maria|Anderson|     UK|  MCR| 3000|Maria Anderson|[Maria, Anderson]|      Maria|    Anderson|
+---------+--------+-------+-----+-----+--------------+-----------------+-----------+------------+

In [0]:
# find the position of a string
# in string function is case sensitive
# inst(<colname>,"substring")
df10 = df.withColumn("Position",instr("firstname","a"))
df10.show()

+---------+--------+-------+-----+-----+--------+
|firstname|lastname|country|state|  sal|Position|
+---------+--------+-------+-----+-----+--------+
|     raja|  pushpa|    USA|     |30000|       2|
|    priya|  pushpa|    USA|     |29900|       5|
|  Karthik|    Subu|    USA|   CA| 6000|       2|
|    James|   Smith|    USA|   FL|20000|       2|
|   Martin|   Jones|    USA|   CA| 3000|       2|
|      Sam|Anderson|     UK|  LND| 8000|       2|
|    Maria| Patrick|     UK|  MCR| 7000|       2|
|    Robet|   Bevon|     UK|  LND| 3500|       0|
|    Maria|Anderson|     UK|  MCR| 3000|       2|
+---------+--------+-------+-----+-----+--------+